
<div class="card" style="width: 18rem;">
  <blog-item-image [image]="image"></blog-item-image>
  <div class="card-body">
    
    <blog-item-text [text]="text" [id]="id"></blog-item-text>

  </div>
</div>
