 .all{
    height: 100vh;
 }
 .container{
    height: 90vh;
    border:1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imgClass{
    padding:10px;
}

p {
    font-size: 25px;
}

.textClass{
    width:75%;
}
