
<div class="all">
  <div class="container">
    <div class="imgClass">
      <img [src]="image" >
    </div>
    <div class="textClass">
      <p>
        {{ text }}
      </p>
    </div>
  </div>
</div>